.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10%;
  color: white;
  font-weight: lighter;
  font-size: 11pt;
  background-color: #121212;
}

.footer .powered {
  display: flex;
  align-items: center;
}

@media (max-width: 480px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }
}